<ion-header>
  <ion-toolbar>

    <ion-searchbar start placeholder="Digite a cidade de destino" (ionInput)="getResults($event)"></ion-searchbar>

    <ion-buttons end>
      <button ion-button (click)="dismiss()">
        <span ion-text color="primary">Cancel</span>
      </button>
    </ion-buttons>

  </ion-toolbar>


</ion-header>

<ion-content>

  <ion-list>
    <ion-item *ngFor="let item of results" (click)="dismiss(item)">
      {{ item.name }}
    </ion-item>
    <ion-item *ngIf="results.length < 1">
      Nenhum item encontrado
    </ion-item>
  </ion-list>

</ion-content>